.button-container{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.button-container button{
    width: 300px;
    height: 100px;

    font-family: system-ui, sans-serif;
    text-align: center;
    font-size: 30px;

    color: white;
    -webkit-text-stroke: white 1px;
    background: linear-gradient(150deg, rgb(18, 171, 44) 0%, rgb(26, 172, 3) 100%);

    border: solid black 4px;
    border-radius: 20px;

    transition: all 0.5s;
}


.button-container button:hover{
    box-shadow: 0 0 10px black;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;

}
